@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  /* var */
  --white-text: #f7f7f7;
  --black-text: rgb(31, 30, 30);
  --white-bg: #fff;
  --red-bg: #ee0c00;
  --black-bg: rgb(31, 30, 30);

  /* Global style */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--black-text);
  background-color: var(--white-bg);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 2fr 1fr;
  grid-auto-rows: 1fr;
}

#app>* {
  padding: 16px;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
}



p {
  font-size: 1.5em;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: grayscale(100%) contrast(170%);
}

.red {
  background: var(--red-bg);
  color: var(--white-text);
}

.white {
  background: var(--white-bg);
  color: var(--black-text);
}

.black {
  background: var(--black-bg);
  color: var(--white-text);
}

.short {
  grid-row: span 1;
}

.tall {
  grid-row: span 2;
}