@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  /* var */
  --white: #f7f7ff;
  --black: #171614;
  --red: #ef233c;
  --grey: #2e2b28;

  /* Global style */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 2fr 1fr;
  grid-auto-rows: 1fr;
}

#app>* {
  padding: 16px;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
}

p {
  font-size: 1.5em;
  margin: 0 auto;
}



.red {
  background: var(--red);
  color: var(--white);
}

.white {
  background: var(--white);
  color: var(--black);
}

.black {
  background: var(--black);
  color: var(--white);
}

.grey {
  background: var(--grey);
  color: var(--white);
}

.short {
  grid-row: span 1;
}

.medium {
  grid-row: span 2;
}

.tall {
  grid-row: span 3;
}